<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">All entries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new_entry">New entry</a>
      </li>
      <li class="nav-item">
        <form action="/logout" method="post" id="logout">
          <input class="nav-link" type="submit" value="Log out">
        </form>
        </li>
    </ul>
  </div>
</nav>