<!doctype html>
<html lang="en">
    <link rel="apple-touch-icon" href="path/to/touchicon.png">
    <link rel="icon" href="path/to/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="path/to/favicon.ico"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#D83434">
    <meta name="msapplication-TileImage" content="path/to/tileicon.png">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'snippets/css.html' %}

  {% block base_head %}{% endblock %}

  <title>{{title}}</title>
</head>
  <body>

   {% include 'snippets/nav.html' %}

    <div class="container">
      <!-- No message categories  -->
      {% with messages = get_flashed_messages() %}
      {% for message in messages %}
      <div class="flash_message">{{message|safe}}</div>
      {% endfor %}
      {% endwith %}
    </div>

    {% block content %}{% endblock %}

    {% include 'snippets/js.html' %}
  </body>

</html>


