{% extends "base.html" %}

{% block content %}
    <h1>All Users</h1>
    <ul>
        {% for user in users %} <!-- iterates through entrys from the all_entries variable in MAIN.py  -->
            <li>
                <h2>
                    <a href="/blog?user={{ user.id }}">{{ user.email }}</a> <!-- Creates a link for each entry ID  -->
                </h2>
                 <!-- displays the content of each blog in front page -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}