{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="post">
        <div class="row">
            <p class="display-3">{{ entry.title }}</p>
            <i><p class="lead">By <a href="/blog?user={{ entry.owner.id }}">{{ entry.owner.email }}</a> on {{ entry.created }}</p></i>
        </div>
        <hr>
        <div class="row">
            <pre><p>{{ entry.body }}</p></pre>
        </div>
    </div>
    <!--comments-->
    <div id="comments">
        <div class="row">
            <form action="/comment" method="post">
            <div class="form-group">
              <textarea class="form-control" rows="4" cols="50" id="comment_field" name="body" value="{{ new_entry_body }}" placeholder="Your comments..."></textarea>
            </div>
            <div class="form-check text-center">
              <button type="submit" id="submit_button" class="btn btn-outline-success px-4 my-3">Create Comment</button>
              <input type="hidden" name="entry" value="{{entry.id}}">
            </div>
            </form>
        </div>     
        <div class="container">
            {% for comment in comments %}
            <li style="width: 700px; word-wrap:break-word;">
                <ul>{{ comment.body }}</ul>
                <ul>contributor: <a href="/blog?user={{ comment.owner.id }}">{{ comment.owner.email }}</a></ul>
                <ul>{{ comment.created }}</ul> <!-- Creates a link for each entry ID  -->
            </li>
            {% endfor %}
        </div>
        <hr>
    </div>
    </div>
</div>


    {% endblock %}