{% extends "base.html" %}

{% block content %}
<h1>{{entry.id}}</h1>
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.body }}</p>
    <p>{{ entry.created }}</p> 
    <p> contributor: <a href="/blog?user={{ entry.owner.id }}">{{ entry.owner.email }}</a></p>

<!-- comments -->
<form action="/comment" method="post">
    <textarea rows="4" cols="50" id="comment_field" name="body" value="{{ new_comment_body }}"></textarea>
    <input id="submit_button" type="submit" value="Create Comment">
    <input type="hidden" name="entry" value="{{entry.id}}">
</form>
    {% endblock %}